.img-flag {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.drop-down-hover {
    transition: 0.3s;
}

.drop-down1-hover:hover,
.active-dropdown1 {
    background-color: #F2F4F5;
}

.pointer {
    transition: 0.3s;
}

.pointer:hover {
    cursor: pointer;
}

p {
    margin: 0;
}

.dropdown1 i {
    opacity: 0;
}

.active-dropdown1.dropdown1 i {
    opacity: 100%;
    color: #FA8232;
}

.active-dropdown2,
.drop-down2-hover:hover {
    background-color: #F2F4F5;
}

.dropdown2 i {
    opacity: 0;
}

.active-dropdown2.dropdown2 i {
    opacity: 100%;
    color: #FA8232;
}

.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.header-search {
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;

    @media (max-width: 992px) {
        width: 250px;
    }
}

.header-search input {
    outline: none;
}

.shop-body {
    width: 400px;
    left: -50px;
    top: 120%;
    z-index: 100;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 500;
    color: #444;
}

/* لون الزر البرتقالي */
.btn-orange {
    background-color: #ff8533;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    transition: 0.3s;
}

.btn-orange:hover {
    background-color: #e6762d;
    color: white;
}

/* زر إنشاء حساب */
.btn-outline-orange {
    border: 1px solid #ffccb3;
    color: #d35400;
    padding: 10px;
    background: transparent;
}

.btn-outline-orange:hover {
    background-color: #fff5f0;
    color: #d35400;
}

/* الخط الفاصل */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.separator:not(:empty)::before {
    margin-right: .5em;
}

.separator:not(:empty)::after {
    margin-left: .5em;
}

.forgot-link {
    text-decoration: none;
    color: #5dade2;
    font-size: 0.9rem;
}

.active-aignIn {
    color: #FA8232;
}

.active-cart {
    color: #FA8232;
}

.items .item1 img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.hover-icon {
    transition: 0.3s;
}

.hover-icon:hover {
    color: #FA8232;
}

.hover-item {
    transition: 0.3s;
}

.hover-item:hover {
    background-color: #F2F4F5;
}

nav .nav_link {
    transition: 0.3s;

    @media (min-width: 767px) {
        padding: 13px 5px;
    }

    @media (min-width: 1199px) {
        padding: 16px 10px;
    }
}

nav .nav_link:hover {
    background-color: #F2F4F5;
}

.active_category {
    background-color: #FA8232;
    color: white;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.269);
}

.bar_navbar i {
    color: white;
}

.nav_item_bar {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    margin: 5px 0;
}

.nav_item_bar:hover {
    background-color: #f2f4f54a;
}

.app_google_store {
    background-color: #f2f4f54a;
    color: white;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    width: fit-content;
}

.app_google_store:hover {
    filter: brightness(0.9);
}

.app_google_store a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.app_google_store i {
    font-size: 30px;
}

.app_google_store p {
    color: rgb(193, 193, 193);
    font-size: 13px;
    line-height: 25px;
}

.app_google_store span {
    color: white !important;
    font-size: 16px !important;
}

.search_footer {
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(193, 193, 193);
    transition: 0.3s;
}

.search_footer:hover {
    color: white;
    border: 1px solid white;
}

.link_footer {
    transition: 0.3s;
}

.link_footer:hover {
    color: white;
}