
.aksed-section  {
width: 800px;
gap: 30px;
}
.custom-accordion-item {
    background-color: #FFFFFF;
    border-radius: 8px !important;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.175) !important;
    transition: all 0.3s ease;
}

.custom-accordion-item:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.269);
}

.custom-accordion-item .accordion-button {
    background-color: #FFFFFF;
    color: #1B6392; 
    box-shadow: none !important;
    font-size: 16px;
    padding: 15px 20px;
}

.custom-accordion-item .accordion-button:not(.collapsed) {
    background-color: #FA8232; 
    color: #FFFFFF;
}

.custom-accordion-item .accordion-button::after {
    filter: none; 
    background-image: none;
    content: '+';
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.custom-accordion-item .accordion-button:not(.collapsed)::after {
    content: '-';
    padding: 8px;

}

/* 2. تنسيق بطاقة الدعم (النموذج) */
.support-card {
    border: 1px solid rgba(0, 0, 0, 0.175);
    transition: all 0.3s ease;
    background-color: #faece5;
}

.support-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.269);
}

.custom-input {
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #F8F9FA;
    transition: all 0.3s ease;
}

.custom-input:focus {
    background-color: #FFFFFF;
    border-color: #1B6392;
    box-shadow: 0 0 0 3px rgba(27, 99, 146, 0.1);
    outline: none;
}

.btn-send {
    background-color: #ff8533;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    transition: 0.3s;
}

.btn-send:hover {
    background-color: #e6762d;
    color: white;
}
